@import url("https://fonts.googleapis.com/css2?family=Faustina&family=Oswald&family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

$ff-logo: "Tilt Prism", sans-serif;
$ff-title: "Faustina", serif;
$ff-text: "Oswald", sans-serif;
$ff-404: "Quicksand", sans-serif;
