@import "../../../sass/variables";

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  @media (max-width: $md) {
    gap: 1rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;

    input {
      width: 100%;
      background-color: $lightgray;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      color: $black;

      @media (max-width: $md) {
        font-size: 1rem;
      }

      &::placeholder {
        color: $gray;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      width: 100%;
      background-color: $lightgray;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      color: $black;

      @media (max-width: $md) {
        font-size: 1rem;
      }

      &::placeholder {
        color: $gray;
      }

      &:focus {
        outline: none;
      }
    }

    .error-message {
      color: red;
      font-size: 1rem;

      @media (max-width: $md) {
        font-size: 0.8rem;
      }
    }
  }

  button {
    background-color: $lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: $darkgray;
    cursor: pointer;
    font-family: $ff-title;

    @media (max-width: $md) {
      font-size: 1rem;
    }
  }
}

.form.dark {
  .form-field {
    input {
      background-color: $darkgray;
      color: $white;

      &::placeholder {
        color: $lightgray;
      }
    }

    textarea {
      background-color: $darkgray;
      color: $white;

      &::placeholder {
        color: $lightgray;
      }
    }

    .error-message {
      color: red;
    }
  }

  button {
    background-color: $darkgray;
    color: $white;
  }
}
