@import "../../../sass/variables";

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  width: 40rem;

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    input {
      width: 100%;
      background-color: $lightgray;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      color: $black;

      &::placeholder {
        color: $gray;
      }

      &:focus {
        outline: none;
      }
    }

    textarea {
      width: 100%;
      background-color: $lightgray;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.5rem;
      color: $black;

      &::placeholder {
        color: $gray;
      }

      &:focus {
        outline: none;
      }
    }

    .error {
      color: red;
    }
  }

  button {
    background-color: $lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: $black;
    cursor: pointer;
    font-family: $ff-title;
  }
}
