@import "../../../sass/variables";

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  gap: 1.3rem;
  color: $darkgray;

  @media (max-width: $md) {
    font-size: 1.6rem;
    gap: 1rem;
  }

  @media (max-width: $sm) {
    font-size: 1.4rem;
    gap: 0.8rem;
  }
}

.navbar.dark {
  color: $lightgray;
}