@import "../../../sass/variables";

.tech-stack--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;

  .tech-stack--text {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 2rem;
    width: 16rem;
    background-color: $white;
    padding-block: 0.5rem;
    padding-left: 6.5rem;
    z-index: 100;
    position: relative;
    right: 6.5rem;

    @media (min-width: $xxl) {
      right: 10rem;
      padding-left: 10rem;
      width: 20rem;
    }

    @media (max-width: $sm) {
      right: 2rem;
      padding-left: 2rem;
      width: 11.5rem;
    }
  }

  .tech-stack {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 1.5rem;
    animation: scroll 200s linear infinite;

    &--item {
      width: 3.5rem;
      margin-right: 2rem;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
