@import "../../../sass/variables";

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  font-family: $ff-text;
  font-weight: bold;
  width: 45ch;
}

.aboutMe-description {
  font-weight: bold;
  font-size: 2.2rem;
  font-family: $ff-text;
}