@import "../../../sass/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $padding-inline;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $white;
  cursor: pointer;
}