@import '../../../sass/variables';

.about--section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-inline: 5%;

  @media (max-width: $md) {
    height: auto;
    padding-block: 2rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: $md) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__img {
    max-width: 450px;
    height: 300px;

    @media (max-width: $md) {
      max-width: 100%;
      height: auto;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 30%;
    max-width: 520px;
    height: 300px;

    @media (max-width: $md) {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }
}