@import "../../../sass/variables";

.project-details {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media (max-width: $md) {
    padding-inline: 2%;
  }

  @media (max-width: $sm) {
    padding-inline: 1%;
  }
}