@import "../../../sass/variables";

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-inline: auto;
  padding-inline: 5%;
  padding-block: 5%;
  gap: 2rem;
  width: 100%;

  @media (max-width: $md) {
    padding-top: 7%;
    gap: 1rem;
    height: auto;
  }

  & .contact-wrapper--header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  & .contact-wrapper--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;

    &--details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        & div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 1rem;
        }

        & p {
          font-size: 1.5rem;
          font-weight: 600;
          color: $darkgray;
        }

        & img {
          width: 5rem;
          height: 5rem;
        }
      }

      @media (max-width: $md) {
        & div {
          gap: .5rem;

          & div {
            gap: 0;
          }
          
          & p {
            font-size: .8rem;
            font-weight: 600;
            color: $darkgray;
          }

          & img {
            width: 2rem;
            height: 2rem;
          }
        }

      }

      @media (max-width: $sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;

        & div {
          
          & p {
            font-size: 1rem;
            font-weight: 600;
            color: $darkgray;
          }

          & img {
            width: 3rem;
            height: 3rem;
          }
        }

      }
    }

  }

  .contact-wrapper--content__form {
    width: 100%;
  }
}