@import "./sass/variables";

body {
  background-color: $lightergray;
  font-family: $ff-text;
}

.main--content {
  background-color: $lightergray;
  color: $darkgray;
}

.main--content.dark {
  background-color: $darkgray;
  color: $lightergray;
}
